name: ci

on:
  pull_request:
    branches: ["main"]

env:
  RUST_VERSION: "1.92.0"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ env.RUST_VERSION }}
          components: clippy, rustfmt

      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y meson nasm cmake

      - name: Rust cargo format
        run: cargo fmt --all -- --check

      - name: Rust cargo clippy
        run: cargo clippy -- -D warnings

      - name: Rust cargo test
        run: cargo test --locked

      - name: Rust cargo build
        run: cargo build --locked
